@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --background: #201414;
    --border: #544434;
    --foreground: #291c16;
}

html, body {
    width: 100svw;
    height: 100svh;
    margin: 0;
}

.background {
    background-color: var(--background);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: var(--foreground);
    width: 95%;
    height: 90%;
    border: 1px solid var(--border);
    display: flex;
    flex-direction: column;
}

.search-bar {
    margin: 15px;
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: center;
}

.search-bar>div>img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.chars {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--border);
    margin: 15px;
    min-height: 75%;
    flex-wrap: wrap;
    overflow-y: scroll;
    gap: 10px;
}

.char {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: "Roboto", sans-serif;
    margin: 5px;
    font-size: 0.8rem;
}

.dima {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    margin: 0;
    width: 120px;
    text-align: center;
}

.assinatura {
    position:fixed;
    color: white;
    font-family: "Roboto", sans-serif;
    bottom:0;
    right: 10px;
    font-size: 0.8rem;
}

.rot-bt {
    position:absolute;
    left: 0;
    top: 0;
    margin: 15px;
    background-color: #281c14;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: brightness(1.6);
    border-radius: 100%;
    flex-direction: column;
    user-select: none;
}

.rot-bt:hover {
    cursor: pointer;
    filter: brightness(2);
}