@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --background-color: #241a15;
    --grid-color: #2e2e2e;
    --backgroundT: #281c14;
    --backgroundTh: #20140c;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
    overflow: hidden;
}

.tabs {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    z-index: 1;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.background {
    background-color: var(--background-color);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bg-img {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('Img/background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    scale: 1.3;
    z-index: 0;
}

.main-memory {
    display: flex;
    background-color: var(--grid-color);
    width: fit-content;
    height: fit-content;
    padding: 10px;
    position: relative;
    scale: 0.5;
    left: 3px;
    top: 3px;
}

.main-quiz {
    display: none;
    background-color: var(--backgroundT);
    border: 1px solid #4c3a2e;
    width: 100%;
    height: 100%;
    padding: 10px;
    scale: 0.7;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quiz-input {
    border: 1px solid #4c3a2e;
    background-color: var(--background-color);
    height: 30px;
    color: white;
    font-size: 1.2rem;
    padding: 5px;
    font-family: 'roboto';
    width: 99.4%;
}

.quiz-container {
    border: 1px solid #4c3a2e;
    font-size: 1.2rem;
    height: 100%;
    width: 100%;
    margin-top: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

.bt-div {
    background-image: url("Img/button.png");
    width: 120px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'roboto';
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
    color: white;
    margin-bottom: 10px;
    position: absolute;
    top: -50px;
    left: -6px;
}

.bt-div:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

.main-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(3, 200px);
}

.square {
    background-image: url("Img/black.png");
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.color-bt {
    display: none;
    flex-wrap: wrap;
    gap: 8px;
    height: fit-content;
    width: 166px;
}

.square:hover .color-bt {
    display: flex;
}

.color {
    height: 50px;
    width: 50px;
    user-select: none;
}

.color:hover {
    cursor: pointer;
    filter: brightness(1.1);
    scale: 1.1;
}

.lion {
    position: fixed;
    ;
    bottom: 0;
    right: 15px;
    bottom: 30px;
    opacity: 0.7;
}

.assinatura {
    position: fixed;
    color: white;
    font-family: "Roboto", sans-serif;
    bottom: 0;
    right: 10px;
    font-size: 0.8rem;
}

.tab {
    filter: brightness(0.5);
}

.tab:hover {
    filter: brightness(0.8);
}

.tab.selected {
    filter: brightness(1);
}

.true,
.false {
    padding: 10px;
    font-family: 'roboto';
    border: 1px solid white;
}

.true {
    background-color: rgba(100, 200, 100, 0.8);
}

.false {
    background-color: rgba(200, 100, 100, 0.8);
}

.rot-bt {
    position: absolute;
    left: 0;
    margin: 15px;
    background-color: var(--backgroundT);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: brightness(1.6);
    border-radius: 100%;
    flex-direction: column;
    user-select: none;
    z-index: 1;
}

.rot-bt:hover {
    cursor: pointer;
    filter: brightness(2);
}

.rot-icon {
    color: white;
}