@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --background: #201414;
    --border: #544434;
    --foreground: #291c16;
}

html, body {
    width: 100svw;
    height: 100svh;
    margin: 0;
}

.background {
    background-color: var(--background);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: var(--foreground);
    width: 95%;
    height: 90%;
    border: 1px solid var(--border);
    display: flex;
}

.char-list-container {
    display: flex;
    flex-direction: column;
    flex: 1
}

.char {
    height: 150px;
    width: 130px;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position:center;
    justify-content: flex-end;
}

.char-list {
    display: grid;
    border: 1px solid var(--border);
    margin: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    grid-template-columns: repeat(6, 130px);
    row-gap: 15px;
    padding: 10px;
    margin-bottom: 4px;
    height: 100%;
    background-color: var(--background);
}

.rotations {
    display: flex;
    border: 1px solid var(--border);
    height: fit-content;
    width: 92%;
    margin: 15px;
    align-items: center;
    justify-content: center;
}

.chest {
    display: flex;
    background-image: url('Img/chest.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 200px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.rotation-img {
    width: 66px;
    height: 68px;
    position: relative;
}

.rot-0 {
    left: 14px;
}

.rot-1 {
    bottom: 22px;
}

.rot-2 {
    right: 24px;
}

.char-main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--border);
    margin: 15px;
    margin-bottom: 23px;
    margin-left: 0;
}

.char-selected {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.track-div {
    border: 1px solid var(--border);
    display: flex;
    flex: 1;
    margin: 15px;
    flex-wrap: wrap;
    width: 92%;
    background-color: var(--background);
}

.track-container {
    display: flex;
    margin: 4px;
    flex-wrap: wrap;
    padding-left: 5px;
    padding-top: 0px;
    width: 90%;
    gap: 15px;
    height: fit-content;
}

.char-name {
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    user-select: none;
    margin: 0;
    width: 130px;
    height: 20px;
}

.char-date {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.7rem;
    font-weight: 1000;
    -webkit-text-stroke: 1px rgba(0,0,0, 0.8);
    user-select: none;
    pointer-events: none;
    margin: 0;
}

.char-date-container {
    color:chartreuse ;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 1000;
    -webkit-text-stroke: 1px rgba(0,0,0, 0.8);
    user-select: none;
    pointer-events: none;
    margin: 2PX;
}

.char:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.search {
    display: flex;
    border: 1px solid var(--border);
    margin: 15px;
    margin-bottom: 0;
}

.search-bar {
    border: 1px solid var(--border);
    background-color: var(--background);
    margin: 5px;
    height: 25px;
    width: 250px;
    color: white;
    font-size: 1rem;
    padding-left: 5px;
}

.classes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
}

.class-bt {
    filter: brightness(70%);
}

.class-bt:hover {
    cursor: pointer;
    filter: brightness(110%);
}

.class-bt.selected {
    filter: brightness(150%);
}

.assinatura {
    position:fixed;
    color: white;
    font-family: "Roboto", sans-serif;
    bottom:0;
    right: 10px;
    font-size: 0.8rem;
}

.green {
    color:chartreuse;
}

.white {
    color: white;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.ex {
    font-family: 'roboto';
    user-select: none;
}

.ex.selected {
    border-bottom: 1px solid white;
}

.ex:hover {
    cursor: pointer;
    scale: 1.1;
}

.noRot {
    color:mediumslateblue;
    font-family: 'roboto';
}

.explanation {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 4px;
}

.rot-bt {
    position:absolute;
    left: 0;
    top: 0;
    margin: 15px;
    background-color: #281c14;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: brightness(1.6);
    border-radius: 100%;
    flex-direction: column;
    user-select: none;
}

.rot-bt:hover {
    cursor: pointer;
    filter: brightness(2);
}